__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
env.bak/
venv.bak/
*.log
*.pot
*.mo
*.spec
build/
dist/
*.egg-info/
*.egg
.eggs/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.db
*.sqlite3
products.xlsx
products.csv
*.exe
browsers/
